<h1>Profile</h1>
<dl>
  <dt>Personal info</dt>
  <dd>username</dd>
  <dt><%= @user.username %></dt>
  <dd>email</dd>
  <dt><%= @user.email %></dt>
  <dd>password</dd>
  <dt><%= @user.password %></dt>
</dl>
