.profile-content {
  width: 90%;
  margin: 0 8px 16px;
  padding: 8px;
  font-size: 14px;
  dt {
    background-color: #f1f1f1;
    padding: 1px 10px;
  }
  dd {
    padding: 5px 0px;
  }
  dd span {
    padding: 5px 10px;
  }
}
